BASE_URL_TUOIXANHNHANHNGON=
BASE_URL_TEGIANOITRO=
BASE_URL_DANONGDICHTHUC=
BASE_URL_HANGTHIETYEU=
BASE_URL_NHANQUOCDAN=
BASE_URL_SI=
BASE_URL_THEGIOIPHAIDEP=
TEST_CUSTOMER_NAME=Test Customer
TEST_CUSTOMER_PHONE=0900000000
